.green{
    width: 330px;
    height: 300px;
    border: 2px solid green;
    position: absolute;
    left: 14.5rem;
    top: 1rem;
    border-right: hidden;
    border-bottom: hidden;
    z-index: -1;
    background-color: green;
  

}
.yellow{
    width: 330px;
    height: 300px;
    border: 2px solid rgb(207, 178, 14);
    border-left: hidden;
    border-bottom: hidden;
    position: absolute;
    left: 35rem;
    top: 1rem; 
    z-index: -1;
    background-color:rgb(207, 178, 14);


}
.red{width: 330px;
    height: 300px;
    border: 2px solid rgb(114, 25, 25);
    position: absolute;
    left: 14.5rem;
    top: 1rem;
    border-right: hidden;
    border-top: hidden;
    position: absolute;
    top: 19.7rem;
    z-index: -1;
    background-color: rgb(114, 25, 25);

}
.cyan{
    width: 330px;
    height: 300px;
    border: 2px solid rgb(57, 148, 160);
    position: absolute;
    left: 17.8rem;
    top: 1rem;
    border-top: hidden;
    border-left: hidden;
    position: absolute;
    left: 35.05rem;
    top: 19.7rem;
    z-index: -1;
    background-color: rgb(57, 148, 160);
}
.box1-1-1{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: green;
}
.box1-1-2{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: green;
   
}
.box1-1-3{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: green;
}
.box1-1-4{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: green;
    

}
.box1-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid green;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    background-color: white;
}
.box1{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 17rem;
    top: 3rem;
    z-index: 2;
    background-color: green;

}

.box2-5{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
}
.box2-4{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
   
}
.box2-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
}
.box2-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
    

}
.box2-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(207, 178, 14);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box2{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 37.3rem;
    bottom: 11.5rem;
    z-index: 1;
    background-color: rgb(207, 178, 14);
}

.box3-5{
    width: 30px;
    height: 30px;
    border: 2px solid  rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25) ;
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-4{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
    

}
.box3-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(114, 25, 25);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box3{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 17rem;
    bottom: 7.5rem;
    z-index: 1;
    background-color: rgb(114, 25, 25);

}

.box4-5{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
}
.box4-4{
    width: 30px;
    height: 30px;
    border: 2px solid  rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
   
}
.box4-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
}
.box4-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
    

}
.box4-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(57, 148, 160);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box4{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid  black;
    position: relative;
    left: 37.3rem;
    bottom: 22rem;
    z-index: 1;
    background-color: rgb(57, 148, 160) ;
}
.line1{
    width:258px;
    height:1rem;
    border: 4px solid white;
    position: relative;
    bottom: 39.5rem;
    left:17.5rem;
    border-left: none;
    border-right: none;
}
.line2{
    width:262px;
    height:1rem;
    border: 4px solid white;
    position: relative;
    bottom: 41rem;
    left:35.5rem;
    border-left: none;
    border-right: none;
}
.line3{
    width:254px;
    height:1.5rem;
    border: 4px solid white;
    position: relative;
    bottom:51.2rem;
    left:26.59rem;
    transform: rotateZ(90deg);
    border-left: none;
    border-right: none;
}
.line4{
    width:254px;
    height:1.5rem;
    border: 4px solid white;
    position: relative;
    bottom:36.3rem;
    left:26.59rem;
    transform: rotateZ(90deg);
    border-left: none;
    border-right: none;
}
.stop1{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    position: relative;
    bottom: 47.92rem;
    left: 45rem;
}
.stop2{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    position: relative;
    bottom:57rem;
    left: 31.9rem;
}
.stop3{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    position: relative;
    bottom:40rem;
    left: 35.9rem;
}
.stop4{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    position: relative;
    bottom:48.55rem;
    left: 25rem;
}
