
.box1-1-1{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: green;
}
.box1-1-2{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: green;
   
}
.box1-1-3{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: green;
}
.box1-1-4{
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: green;
    

}
.box1-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid green;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1;
    background-color: white;
}
.box1{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 15rem;
    top: 2rem;
    z-index: 2;
    background-color: green;

}

.box2-5{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    
}
.box2-4{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
   
}
.box2-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
}
.box2-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(207, 178, 14);
    border-radius: 50%;
    background-color: rgb(207, 178, 14);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(207, 178, 14);
    

}
.box2-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(207, 178, 14);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box2{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 39rem;
    bottom: 12.5rem;
    z-index: 1;
    background-color: rgb(207, 178, 14);
}

.box3-5{
    width: 30px;
    height: 30px;
    border: 2px solid  rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25) ;
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-4{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
}
.box3-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(114, 25, 25);
    border-radius: 50%;
    background-color: rgb(114, 25, 25);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(114, 25, 25);
    

}
.box3-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(114, 25, 25);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box3{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid black;
    position: relative;
    left: 15rem;
    bottom: 6.3rem;
    z-index: 1;
    background-color: rgb(114, 25, 25);

}

.box4-5{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 3rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
}
.box4-4{
    width: 30px;
    height: 30px;
    border: 2px solid  rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 8rem;
    top: 4rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
   
}
.box4-3{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 8rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
}
.box4-2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(57, 148, 160);
    border-radius: 50%;
    background-color: rgb(57, 148, 160);
    position: absolute;
    left: 3rem;
    top: 8rem;
    z-index: 3;
    background-color: rgb(57, 148, 160) ;
    

}
.box4-1{
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid rgb(57, 148, 160);
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 2;
    background-color: white;
}
.box4{
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 4px solid  black;
    position: relative;
    left: 39rem;
    bottom: 20.8rem;
    z-index: 1;
    background-color: rgb(57, 148, 160) ;
}
.line1{
    width:200px;
    height:2rem;
    border: 2px solid black;
    background-color: green;
    position: relative;
    bottom: 39.5rem;
    left:19rem;
    border-left: none;
    border-right: none;
}
.line2{
    width: 209px;
    height:2rem;
    border: 2px solid black;
    background-color: rgb(57, 148, 160);
    position: relative;
    bottom: 42rem;
    left:37.8rem;
    border-left: none;
    border-right: none;
}
.line3{
    width:190px;
    height:2rem;
    border: 2px solid black;
    background-color: rgb(207, 178, 14);
    position: relative;
    bottom:52.5rem;
    left:28.5rem;
    transform: rotateZ(90deg);
    border-left: none;
    border-right: none;
}
.line4{
    width:194px;
    height:2rem;
    border: 2px solid black;
    background-color: rgb(114, 25, 25);
    position: relative;
    bottom:37.3rem;
    left:28.5rem;
    transform: rotateZ(90deg);
    border-left: none;
    border-right: none;
}
.stop1{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color:rgb(207, 178, 14) ;
    position: relative;
    bottom: 46.3rem;
    left: 44.3rem;
}
.stop2{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: green;
    position: relative;
    bottom:56.4rem;
    left: 30.8rem;
}
.stop3{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(65, 139, 139);
    position: relative;
    bottom:38.6rem;
    left: 36.9rem;
}
.stop4{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(114, 25, 25);
    position: relative;
    bottom:49.6rem;
    left: 23.3rem;
}
.start1{
    width:2.2rem;
    height: 4.5rem;
    border: 2px solid black;
    background-color: green;
    position: relative;
    bottom:56rem;
    left: 18rem;
    

}
.start2{
    width:2.3rem;
    height: 4.7rem;
    border: 2px solid black;
    background-color: rgb(57, 148, 160);
    position: relative;
    bottom:58.5rem;
    left: 48.5rem;
    

}
.start3{
    width: 6rem;
    height: 2rem;
    border: 2px solid black;
    background-color: rgb(207, 178, 14);
    position: relative;
    bottom:77rem;
    left: 33.3rem;
    

}
.start4{
    width:6.2rem;
    height: 2rem;
    border: 2px solid black;
    background-color: rgb(114, 25, 25);
    position: relative;
    bottom:51.6rem;
    left: 29.27rem;
    

}
.outer{
    width: 625px;
    height: 575px;
    border: 2px solid rgb(211, 190, 193);
    position: relative;
    bottom: 74rem;
    left: 15rem;
}
.cross{
    width:6.2rem;
    height: 5.3rem;
    border: 2px solid black;
    position: relative;
    bottom: 69.2rem;
    left:31.4rem;
    background-color: green;

}
.cross2{
    width:0;
    height: 8rem;
    border: 1px solid black;
    position: relative;
    bottom: 75.8rem;
    left:22.6rem;
}
.cross3{
    width:0;
    height: 8rem;
    border: 1px solid black;
    position: relative;
    bottom: 83.9rem;
    left:25rem;
}
.cross4{
    width:0;
    height: 8rem;
    border: 1px solid black;
    position: relative;
    bottom: 92rem;
    left:27.4rem;
}
.cross5{
    width:0;
    height: 8rem;
    border: 1px solid black;
    position: relative;
    bottom: 101rem;
    left:29.35rem;
}
.cross6{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 122.24rem;
    left:29.5rem;
}
.cross7{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 119.7rem;
    left:29.5rem;
}
.cross8{
    width:4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 117.66rem;
    left:29.5rem;
}
.cross9{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 115.4rem;
    left:29.5rem;
}
.cross10{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 113.4rem;
    left:29.5rem;
}
.cross11{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 111.4rem;
    left:29.5rem;
}
.cross12{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 109.4rem;
    left:29.5rem;
}
.cross13{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 88.55rem;
    left:29.46rem;
}
.cross14{
    width:4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 90.75rem;
    left:35.5rem;
}
.cross15{
    width:4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 92.97rem;
    left:35.5rem;
}
.cross16{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 95rem;
    left:29.46rem;
}
.cross17{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 97.3rem;
    left:29.46rem;
}
.cross18{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 99.7rem;
    left:29.46rem;
}
.cross19{
    width:10rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 102rem;
    left:29.46rem;
}
.cross20{
    width: 0;
    height:4rem;
    border: 1px solid black;
    position: relative;
    bottom: 105.3rem;
    left:20.29rem;
}
.cross21{
    width: 0;
    height:4rem;
    border: 1px solid black;
    position: relative;
    bottom: 109.4rem;
    left:18em;
}
.cross22{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 118.3rem;
    left:15.5em;
}
.cross23{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 125.4rem;
    left:53.4rem;
}
.cross24{
    width: 0;
    height:3rem;
    border: 1px solid black;
    position: relative;
    bottom: 133rem;
    left:50.95rem;
}
.cross25{
    width: 0;
    height:3rem;
    border: 1px solid black;
    position: relative;
    bottom: 135.7rem;
     left: 48.5rem;
}
.cross26{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 138.8rem;
    left:46.2rem;
}
 .cross27{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 145.9rem;
    left:43.6rem;
}
.cross28{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 153rem;
    left:41.3rem;
} 
.cross29{
    width: 0;
    height:7rem;
    border: 1px solid black;
    position: relative;
    bottom: 160.2rem;
    left:39.5rem;
}
.cross30{
    width: 2.4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 164.7rem;
    left: 15.55rem;
}
.cross31{
    width: 2.4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 162.76rem;
    left: 15.55rem;
}
.cross32{
    width: 2.4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 165.25rem;
    left: 51rem;
}
.cross33{
    width: 2.4rem;
    height: 0;
    border: 1px solid black;
    position: relative;
    bottom: 163.25rem;
    left: 51rem;
}
.cross34{
    width: 0;
    height:2.5rem;
    border: 1px solid black;
    position: relative;
    bottom: 181.6rem;
    left: 36.3rem;
}
.cross35{
    width: 0;
    height:2.5rem;
    border: 1px solid black;
    position: relative;
    bottom: 184.3rem;
    left: 33rem;
}
.cross36{
    width: 0;
    height:2rem;
    border: 1px solid black;
    position: relative;
    bottom: 154.5rem;
    left: 32.8rem;
}
.cross37{
    width: 0;
    height:2rem;
    border: 1px solid black;
    position: relative;
    bottom: 156.6rem;
    left: 36rem;
}
.close1{
    width: 2.1rem;
    height:0;
    border: 1px solid black;
    position: relative;
    bottom: 174.74rem;
    left: 18.1rem;
}
.close2{
    width: 0;
    height:2rem;
    border: 1px solid black;
    position: relative;
    bottom: 188.6rem;
    left: 35.44rem;
}
.close3{
    width: 2.2rem;
    height:0;
    border: 1px solid black;
    position: relative;
    bottom: 175.1rem;
    left: 48.6rem;
}
.close4{
    width: 0;
    height:2rem;
    border: 1px solid black;
    position: relative;
    bottom: 163.2rem;
    left: 33.44rem;
}
.start1-circle{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    bottom: 181rem;
    left: 18.6rem;

}
.start2-circle{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    bottom: 180.3rem;
    left: 49.2rem;

}
.start3-circle{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    bottom: 195rem;
    left: 37rem;
}
.start4-circle{
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    bottom: 168.6rem;
    left: 30.8rem;

}
 .outer{
    width: 800px;
    height: 620px;
    border: 4px solid black;
    position: relative;
    bottom: 203rem;
    left: 9.5rem;
    background-color: whitesmoke;
    z-index: -1;
} 
